<app-header></app-header>
<div class="container mt-4">
  <div class="row">
    <div class="col-6 mb-2">
      <h2><strong>CALENDARIO</strong></h2>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead">
          <tr>
            <th class="text-center">MESES</th>
            <th class="text-center">ESTADO</th>
            <th class="text-center">POSTERGAR</th>
            <th class="text-center">PRESUPUESTO UTILIZADO</th>
            <th class="text-center">OBSERVACIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let actividad of actividades; let i = index">
            <th class="text-center">
              {{ actividad.mes }}
              <button
                *ngIf="actividad.secEstado === -1"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#modal-confirm"
                (click)="setActSelected(actividad)"
              >
                +
              </button>
            </th>
            <th class="text-center" *ngIf="actividad.estado; else select">
              <div>
                <select
                  [disabled]="actividad.flagPostergar"
                  #selectEstado
                  [value]="actividad.secEstado.toString()"
                  (change)="onChangeActividad(actividad, selectEstado)"
                >
                  <option
                    *ngIf="
                      checkMonths(actividad.mes) ||
                      checkMonthsNext(actividad.mes)
                    "
                    value="1"
                  >
                    Pendiente
                  </option>
                  <option *ngIf="checkMonths(actividad.mes)" value="2">
                    Cumplido
                  </option>
                  <option value="3">Incumplido</option>
                  <option value="4">Postergado</option>
                </select>
              </div>
            </th>
            <th class="text-center">
              <div
                *ngIf="
                  actividad.secEstado === 4 && actividad.flagPostergar === false
                "
              >
                <select #selectPostergar>
                  <option
                    *ngFor="
                      let month of getMonths(actividad.mes);
                      let i = index
                    "
                    [value]="month.secuencial"
                  >
                    {{ month.mes }}
                  </option>
                </select>
                <button
                  type="button"
                  (click)="viewObservacion(actividad, selectPostergar)"
                  class="btn btn-primary btn-sm"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  Guardar
                </button>
              </div>
            </th>
            <th class="text-center">{{ actividad.presupuesto_utilizado }}</th>
            <th class="text-center">
              <button
                type="button"
                (click)="viewObservacion(actividad)"
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#exampleModal"
                *ngIf="actividad.secEstado !== -1"
              >
                Ver
              </button>
            </th>
          </tr>
        </tbody>
      </table>
      <ng-template #select>
        <th class="text-center">Sin asignar</th>
      </ng-template>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal2"
    tabindex="-1"
    aria-labelledby="exampleModalLabel2"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Confirmación</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Desea postergar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
            (click)="onClickPostergar()"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="modal-confirm"
    tabindex="-1"
    aria-labelledby="modal-confirm"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-confirm">Confirmación</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Usted va agregar una actividad en
            <strong>{{ poaActividadSelected.mes }}</strong
            >.
          </p>
          <p>¿Está seguro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            No
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="saveActividad()"
            data-dismiss="modal"
          >
            Si
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">OBSERVACIONES</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="row d-flex justify-content-center"></div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead">
                <tr>
                  <th scope="col">Nro</th>
                  <th scope="col">Observación</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Entregables</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of obserCal">
                  <th scope="row">{{ p.secuencial }}</th>
                  <td class="text-center">{{ p.nombre_observacion }}</td>
                  <td class="text-center">{{ p.fecha }}</td>
                  <td><a [href]="p.entregables" target="_blank">Ver</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="message-text" class="col-form-label"
                ><strong>Presupuesto Utilizado:</strong></label
              >
              <div class="conainter">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input
                        [(ngModel)]="activeField"
                        type="checkbox"
                        aria-label="Checkbox for following text input"
                      />
                    </div>
                  </div>
                  <div class="input-group-append">
                    <input
                      type="text"
                      class="form-control"
                      [disabled]="!activeField"
                      [value]="getValuePre()"
                      #newpre
                      aria-label="Text input with checkbox"
                    />
                    <button
                      [disabled]="!activeField"
                      class="btn btn-primary"
                      (click)="updatePre(newpre.value)"
                      type="button"
                      id="button-addon2"
                    >
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form role="form" #dataForm>
          <div class="modal-body">
            <div class="form-group">
              <label for="message-text" class="col-form-label"
                ><strong>Observación:</strong></label
              >
              <textarea
                class="form-control"
                id="message-text"
                name="observacion"
                placeholder="Añadir nueva observación"
              ></textarea>
            </div>
            <div class="form-group">
              <label for="inputState"
                ><strong>Adjutantar un archivo: </strong></label
              >
              <div class="card-body text-left">
                <input type="file" id="ejemplo_archivo_1" name="upload" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
            <button
              [hidden]="!flagButtons"
              type="button"
              (click)="createObsertvation(dataForm)"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#exampleModal2"
              data-dismiss="modal"
            >
              Guardar cambios
            </button>
            <button
              [hidden]="flagButtons"
              type="button"
              (click)="createObsertvation(dataForm)"
              data-dismiss="modal"
              class="btn btn-success"
            >
              Guardar cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
